#map {
    height: 95%;

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {

    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 90px 10px 10px 0px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
    position: fixed;

}


#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.container-button {
    margin: 10px 12px;
}

.map-button {
    margin-right: 10px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#GTS {
    margin-right: 10px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#GTS:hover {
    background: #0d45a5;
}

.map-button:hover {
    background: #0d45a5;
}

.input-file-button[type=file] {
    width: 300px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

.input-file-button[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.input-file-button[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

#pac-input,
#pac-input1 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 14px 10px;
    text-overflow: ellipsis;
    width: 478px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

#pac-input1 {
    margin-top: 10px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

/* Thêm CSS cho trạng thái minimized */
#pac-card.minimized {
    /* Kích thước mong muốn khi pac-card được thu nhỏ */
    width: 100px;
    height: 50px;
}

#tong {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #084cdf;
    padding: 10px 0 0 0;
    float: right;
}